body{
    background-image:url('./assets/BGWheel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.clock-container{
    backdrop-filter: blur(5px);
    width: 100vw;
    padding: 10px 0px;
}
.clock{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}